@page "/counter"
@inherits ComputedStateComponent<int>
@inject ICounterService CounterService

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @State.ValueOrDefault</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {

    private void IncrementCount()
    {
        CounterService.IncrementCount();
    }

    protected override Task<int> ComputeState(CancellationToken cancellationToken)
    {
        return CounterService.GetCount(cancellationToken);
    }

}
